html, body, main {
  display: block;
  background-color: black;
  color: #999;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
}

footer {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #888;
}

.footer {
  width: 100%;
  margin: 0 auto; 
  text-align: center;
}

.footer a:hover {
  box-shadow: 0 1px;
}

.footer p {
  margin-bottom: 6px;
  margin-top: 6px;
}

.socka {
  font-size: 16px;
}

.copyright {
  font-size: 12px;
}

.logo {
  float: left;
  margin-top: 6px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 300px;
  color: #aaa;
  padding: 0;
  background: black url('../img/danubecloud-logo-inv.svg') no-repeat center center fixed;
  background-size: contain;
}

.hero .content {
  position: relative;
  top: 100px;
}

#about {
  text-align: justify;
  width: 60%;
  margin: 0 auto; 
  background-color: rgba(0,0,0,0.8);
  color: #bbb;
  padding: 40px 10px;
}

nav.transparent {
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #888;
}

nav.transparent .brand {
  color: #ccc;
}

nav.transparent .pseudo.button {
  color: inherit;
}

nav.transparent .pseudo.button:hover {
  color: #0074d9;
  box-shadow: inset 0 0 0 99em rgba(177,177,177,0.3);
}

nav.transparent .pseudo.button.active {
  color: #0074d9;
}

@media (max-width: 60em) {
  nav .burger ~ .menu {
    background-color: #111;
  }

  #about {
    width: 80%;
    padding-bottom: 100px;
  }
}
