html, body, main, .section {
  display: block;
  background-color: black;
  color: #999;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
}

footer {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #888;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  width: 100%;
  margin: 0 auto; 
  text-align: center;
}

.footer a:hover {
  box-shadow: 0 1px;
}

.footer p {
  margin-bottom: 6px;
  margin-top: 6px;
}

.socka {
  font-size: 16px;
}

.copyright {
  font-size: 12px;
}

.logo {
  float: left;
  margin-top: 6px;
}

.section {
  border-top: 1px solid #888;
}

.section-small {
  border-top: 1px solid #888;
}

.section-small#danubecloud {
  background-color: #fff;
  color: #000;
}

.text-well {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  font-size: 26px;
  padding-top: 60px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 60px;
}

.section#home {
  background: black url('../img/backgrounds/exposure.jpg') no-repeat center center fixed;

  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.section#about {
  background: black url('../img/backgrounds/server.jpg') no-repeat center center fixed;


  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.section#about2 {
  background: black url('../img/backgrounds/server-farm.jpg') no-repeat center center fixed;

  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.section#features {
  background: black url('../img/backgrounds/fatcow.jpg') no-repeat center center fixed;

  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

@media (max-width: 900px) {
  .section#home {
    background: black url('../img/backgrounds/exposure-small.jpg') no-repeat center center fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
  }

  .section#about {
    background: black url('../img/backgrounds/server-small.jpg') no-repeat center center fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
  }

  .section#about2 {
    background: black url('../img/backgrounds/server-farm-small.jpg') no-repeat center center fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
  }

  .section#features {
    background: black url('../img/backgrounds/fatcow-small.jpg') no-repeat center center fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  min-height: 300px;
  color: #bbb;
  padding: 0;
}

.hero-small {
  width: 100%;
  text-align: center;
  min-height: 100px;
  padding: 0;
}

.hero.esdc-logo {
  background: rgba(0,0,0,0.2) url('../img/danubecloud-logo-inv.svg') no-repeat center center fixed;
  -o-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-attachment: scroll;
}

.hero .content {
  position: relative;
  top: 100px;
}

.content-text {
  text-align: justify;
  width: 60%;
  margin: 0 auto; 
  background-color: rgba(0,0,0,0.8);
  color: #ddd;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
}

.content-free {
  text-align: left;
  width: 60%;
  margin: 0 auto; 
  background-color: rgba(0,0,0,0.8);
  color: #ddd;
  padding:0;
}

.content-free .flex {
  width: 100%;
  margin: 0;
}

.flex .box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 20px;
  min-height: 200px;
  text-align: left;
  background-color: rgba(0, 31, 63, 0.5);
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #0074d9;
}

.lead-image {
  margin-top: 0;
  margin-right: 20px;
  font-size: 100px;
  color: #b3e5fc;
  float: left;
}

.lead-image-text {
  color: #eee;
  padding-left: 120px;
}

.box1 {
  border-top: 1px solid;
}

.box2 {
  border-top: 1px solid;
  border-right: 1px solid;
}

.box3 {
}

.box4 {
  border-right: 1px solid;
}


.content-text.video {
  padding-bottom: 10px;
}

.content-text.inverse {
  background-color: rgba(255,255,255,0.9);
  color: #000;
}

.content-text h3 {
  color: #bbb;
  text-align: left;
}

.content-text.inverse h3 {
  color: #000;
}

.content-text p {
  margin: 0;
  padding: 0;
}

.section#features .content-text ul {
  text-align: left;
  padding-left: 24px;
  margin: 0;
}

.video-container {
  position: relative; 
  float: none;
  overflow: hidden; 
  clear: both;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
}

.video-container iframe, .video-container object, .video-container embed, .video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#screenshots a {
  margin: 5px;
}

#screenshots img {
  border: 1px solid #444;
}

#screenshots a.button {
  width: 259px;
}

nav.transparent {
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #888;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
}

nav.transparent .brand {
  color: #ccc;
}

nav.transparent .pseudo.button {
  color: inherit;
}

nav.transparent .pseudo.button:hover {
  color: #0074d9;
  box-shadow: inset 0 0 0 99em rgba(177,177,177,0.3);
}

nav.transparent .pseudo.button.active {
  color: #0074d9;
}

@media (max-width: 66em) {
  nav .burger ~ .menu {
    background-color: #111;
  }
  .content-text, .content-free {
    width: 80%;
  }
  .text-well {
    font-size: 22px;
  }
  .hero .content {
    min-height: 100vh;
  }
  .lead-image {
    font-size: 40px;
    margin-top: 10px;
  }
  .lead-image-text {
    padding-left: 60px;
  }
  .flex .box {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    min-height: 120px;
    display: inline-block;
  }
  .hide-tablet {
    display: none;
  }
}

@media (max-width: 30em) {
  .content-text, .content-free {
    width: 100%;
  }
  .text-well {
    font-size: 18px;
  }
  .lead-image {
    font-size: 40px;
    margin-top: 0px;
  }
  .lead-image-text {
    padding-top: 42px;
    padding-left: 0px;
  }
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 30em), (max-height: 35em) {
  footer {
    position: static;
    background-color: black;
  }
  .hero .content {
    position: static;
    min-height: 100vh;
  }
  .section {
    height: auto;
  }
}
