
.icon-download:before { content: '\e800'; } /* '' */
.icon-upload:before { content: '\e801'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */